beautifulsoup4==4.10.0
ebaysdk==2.2.0
fastapi==0.70.0
nest_asyncio==1.5.1
pydantic==1.8.2
pyshorteners==1.0.1
requests==2.26.0
uvicorn==0.15.0
anyio==3.3.4
certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.16.0
streamlit==1.1.0
tabulate==0.8.9
typing-extensions==3.10.0.2
urllib3==1.26.7
pandas==1.1.5
